.TodoList {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  color: #555;
  font: 12pt Helvetica, sans-serif;
  margin: 100px auto;
  width: 500px;
}

.TodoList a, .TodoList a:visited {
  color: #448ccb;
  text-decoration: none;
}

.TodoList a:active {
  color: #044c9b;
}

.TodoList header {
  border-bottom: 1px dashed #d0d0d0;
  height: 100px;
  padding: 20px;
}

.TodoList header h1 {
  color: #333;
  font-size: 24pt;
  line-height: 100px;
  margin: 0;
  text-align: center;
}

.TodoList form {
  margin: 0;
  padding: 20px;
}

.TodoList form input {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  font-size: 10pt;
  margin: 0;
}

.TodoList form input[type="text"] {
  padding: 0px 10px;
  height: 28px;
  width: 300px;
}

.TodoList form input[type="submit"] {
  background-color: #f0f0f0;
  color: gray;
  font-weight: bold;
  height: 30px;
  margin-left: 10px;
  width: 128px;
}

.TodoList ul {
  list-style-type: none;
  min-height: 300px;
  margin: 0;
  padding: 0;
}

/* a single task */
.TodoList ul li {
  padding: 20px;
  text-shadow: 1px 1px white;
}

.TodoList ul li:nth-child(odd) {
  background-color: #f4f7fa;
}

.TodoList footer {
  border-top: 1px dashed #d0d0d0;
  color: #999;
  font-size: 11pt;
  padding: 20px;
}

.TodoList footer a {
  float: right;
}
